In [ ]:
import numpy as np
import pandas as pd
from google.colab import files 
import io

In [ ]:
file=files.upload()

Saving realest.csv to realest (1).csv

In [ ]:
data=pd.read_csv(io.StringIO(file['realest.csv'].decode('utf-8')))
data.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [ ]:
data.describe()

,Price,Bedroom,Space,Room,Lot,Tax,Bathroom,Garage,Condition
count,156.000000,156.000000,146.000000,156.000000,146.000000,147.000000,156.000000,156.000000,156.000000
mean,56.474359,3.166667,1097.246575,6.500000,32.808219,911.707483,1.480769,0.846154,0.230769
std,12.875307,1.348037,462.540698,1.675247,8.457859,443.263430,0.529408,0.808454,0.422682
min,32.000000,1.000000,539.000000,4.000000,24.000000,418.000000,1.000000,0.000000,0.000000
25%,46.000000,2.000000,805.250000,5.000000,25.000000,652.500000,1.000000,0.000000,0.000000
50%,55.000000,3.000000,965.500000,6.000000,30.000000,821.000000,1.500000,1.000000,0.000000
75%,65.000000,4.000000,1220.500000,7.000000,37.000000,1012.500000,2.000000,1.500000,0.000000
max,90.000000,8.000000,2295.000000,12.000000,50.000000,2752.000000,3.000000,2.000000,1.000000

In [ ]:
data.isnull().sum()

Price         1
Bedroom       1
Space        11
Room          1
Lot          11
Tax          10
Bathroom      1
Garage        1
Condition     1
dtype: int64

In [ ]:
data.dropna(subset=['Price','Bedroom','Space','Room','Lot','Tax','Bathroom','Garage','Condition'],inplace=True)
data.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [ ]:
data.isnull().sum()

Price        0
Bedroom      0
Space        0
Room         0
Lot          0
Tax          0
Bathroom     0
Garage       0
Condition    0
dtype: int64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
linear = ['Bedroom','Space','Room','Lot','Tax','Bathroom','Garage','Condition']
X = data[linear]
y = data['Price']
lm = LinearRegression()
model = lm.fit(X, y)

In [ ]:
model.score(X,y)

0.7181656659650734

In [ ]:
model.coef_

array([-3.16023874e+00,  9.66322780e-03,  1.68895111e+00,  2.36213231e-01,
        4.41271852e-03,  6.37578599e+00,  4.14475743e+00,  1.83579537e+00])


*   Bedroom   -3.16023874e+00  
*   Space      9.66322780e-03
*   Room       1.68895111e+00
*   Lot        2.36213231e-01
*   Tax        4.41271852e-03
*   Bathroom   6.37578599e+00
*   Garage     4.14475743e+00
*   Condition  1.83579537e+00

สรุป 
*   ถ้าหากตัวแปร Bedroom มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 3.16023874e+00 หน่วย ในทิศทางตรงข้าม

*   ถ้าหากตัวแปร Space มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 9.66322780e-03 หน่วย ในทิศทางเดียวกัน

*   ถ้าหากตัวแปร Room มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 1.68895111e+00 หน่วย ในทิศทางเดียวกัน

*   Lot มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 2.36213231e-01 หน่วย ในทิศทางเดียวกัน

*   Tax มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 4.41271852e-03 หน่วย ในทิศทางเดียวกัน

*   Bathroom มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 6.37578599e+00 หน่วย ในทิศทางเดียวกัน

*   Garage มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 4.14475743e+00 หน่วย ในทิศทางเดียวกัน

*   Condition มีการเปลี่ยนแปลง 1 หน่วย จะส่งผลให้ Price เปลี่ยนแปลงไป 1.83579537e+00 หน่วย ในทิศทางเดียวกัน